<html>
    <head>
        <title>
            {{sitetitle}} | {{pagetitle}}
        </title>
        {{meta}}
        {{style}}
        {{headscript}}
    </head>
    <body>
        <div id="page">
            testing alternate theme
            {{> imaglobal}}
        </div> <!-- #page -->
        {{script}}
    </body>
</html>
