*
!/update-dep-run-audit.sh
!/src/chill/*
/src/chill/*.pyc
/src/chill/**/*.pyc
/src/chill/__pycache__
!/requirements.txt
!/requirements-cli.txt
!/requirements-dev.txt
!/requirements-test.txt
!/pip-requirements.txt
!/dep/*
!/COPYING
!/COPYING.LESSER
!/README.md
!/pyproject.toml
