<html>
    <head>
        <title>{{pagetitle}}</title>
        {{meta}}
        {{style}}
        {{headscript}}
    </head>
    <body>
        testing
        <div id="page">
            {{> header}}

            {{> body}}

            {{> footer}}
        </div> <!-- #page -->
        {{script}}
    </body>
</html>
